* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  width: auto;
  height: auto;
  text-align: center;
  margin: auto;
  width: 5rem;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.violet {
  background-color: violet;
}
